
body{
    width: 100%;
    margin: 0;
    padding: 0;
}

div{
    box-sizing: border-box;
    border: solid black 1px;
    height: 10%;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15%;
    height: 60px;
}

footer{
    text-align: center;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

article{
    display: flex;
    flex-direction: row;
} 

nav{
    border: solid black 1px;
    width: 160px;
}

p{
    text-align: center;
    width: 100%;
}

input{
    position: absolute;
    margin-left: 55%;
}

a{ 
 text-decoration:none; 
}

div.container{
    width: 100%;
}

div.milieu{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

div.haut{
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between  
}

div.bas{
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}


div.messages{
    width: 55%;
    margin-left: 6%;
    height: 300px;
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.explorer{
    width: 18%;
    position: absolute;
    margin-left: 66%;
    margin-top: 278px;
    height: 467px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.commands{
    height: 60px;
}

div.flow{
    height: 60px;
}

div.user{
    height: 60px;
}

div.dashboard{
    width: 15%;
    margin-left: 15%;
    height: 60px;
}

div.planning{
    width: 15%;
    height: 60px;
}

div.chat{
    width: 15%;
   height: 60px;
   position: relative;
}

div.charts{
    height: 200px;
    width: 20%;
    margin-left: 6%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.calendar{
    height: 200px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.connected{
    height: 200px;
    width: 20%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.drag{
    height: 100px;
    margin-left: 6%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.add{
    height: 100px;
    margin-right: 39%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}